.comments form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.comments textarea {
  flex: 1;
  padding: 0.5rem 1rem;
}

.comments form button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #eaeaea;
}

.list {
  padding: 0.5rem 0;
  border-bottom: 1px dotted #ccc;
}

.comment {
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.author {
  color: #fba12f;
  font-weight: bold;
  padding: 0.25rem 1rem 0.25rem 0;
  cursor: pointer;
}

.author:hover {
  color: #f98e01;
}

date {
  color: #999;
  font-size: 0.7rem;
}
.text {
  width: 100%;
}
.btns {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.btns button {
  cursor: pointer;
  font-size: 0.7rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #eaeaea;
}
.logMessage {
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  text-align: center;
  background-color: #eaeaea;
  margin: 1rem 0;
}
