@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100vh;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  justify-content: space-between;
}

img {
  width: 4rem;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.nav a {
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 정확히 정중앙 */

  max-width: 700px;
  width: 90%;
  border-radius: 20px;
  background-color: #fff;
  padding: 2rem;
  z-index: 1000;
}
.overlay {
  position: fixed;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; 동일 의미 */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* 모달보다 낮거나 동일해야 겹치지 않음 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar svg {
  display: block; /* inline-block → block으로 변경 */
  margin: auto; /* 가운데 정렬 */
  width: 30px;
  height: 30px;
  box-sizing: content-box;
  padding: 0.5rem;
  color: #888;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

/* display: block + margin: auto는 가장 깔끔한 가운데 정렬 방식 */

.sidebar svg:hover {
  background-color: #fba32fa5;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem;
  color: #2d2d2d;
}

.logoutBtn {
  border-radius: 10px;
  color: #3aae2d;
  width: 70px;
  padding: 0.3rem;
  background-color: #a5d0a034;
}
