* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}
h2 {
  font-size: 1.5rem;
  padding: 2rem 1rem;
}
